@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Montserrat', 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }



/* 헤더 */
.sub_gnb {
    position: absolute;
    height: 70px;
    top: 102px;
    left: 40px;
    white-space: nowrap;
    z-index: 10;
    font-weight: 600;
}

.show_menu {
    display: none;
}

.sub_gnb li {
    display: inline-block;
}

.sub_gnb a {
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #262626;
    padding: 0 10px;
}

#main_header {
    position: fixed;
    z-index: 9;
    height: 100px;
    width: 100%;
    /* overflow: hidden; */
}

#main_header .logo {
    float: left;
    position: relative;
    padding: 30px 40px;
    left: 3%;
}


#main_nav {
    position: relative;
    width: 830px;
    height: 100px;
    margin: 0 auto;
    z-index: 9;
    float: none;
}

.main_gnb {
    height: 100px;
}

.main_gnb>li {
    float: left;
    padding: 0 40px;
    position: relative;
}

.main_gnb>li>a {
    position: relative;
    display: block;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 100px;
    font-weight: 600;
}

.main_gnb>li>a::before {
    content: ' ';
    position: absolute;
    bottom: -1px;
    left: -15px;
    width: 100px;
    height: 2px;
    background-color: red;
    display: none;
}

.main_gnb>li>a:hover::before {
    display: block;
}

#main_header .lang {
    float: right;
    position: relative;
    padding: 10px 10px;
    top: -60px;
    right: 60px;
}

.lang li {
    padding: 0 5px;
}

.lang .langs {
    font-weight: 100;
}



.lang li {
    display: inline-block;
}

.lang a {
    color: #fff;
}

.lang .none {
    display: none;
}

.sub_gnbbox {
    position: fixed;
    display: none;
    background-color: #fff;
    left: 0%;
    top: 100px;
    width: 100%;
    height: 99px;
    z-index: 9;
}

#main_header.on {
    background-color: #fff;
}



/* 언어선택 애니메이션 */

.lang_kr::after {
    content: ' ';
    position: absolute;
    display: block;
    background: url(../images/blt_select.png);
    right: -30px;
    top: 20px;
    width: 10px;
    height: 7px;
    background-repeat: no-repeat
}

.lang_kr:hover::after{
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.lang_kr::before {
    content: ' ';
    position: absolute;
    display: block;
    background-color: white;
    width: 30px;
    height: 2px;
    bottom: 0;
    right: 10px;
    opacity: 0;
}

.lang_kr:hover::before {
    opacity: 1;
}

.bt_mn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 5vw;
    margin-top: -20px;
    z-index: 9;
    display: none;
}

.bt_mn span {
    display: none;
}





/* 반응형 */

@media screen and (max-width: 1200px) {
    #main_header .logo {
        float: left;
        position: relative;
        padding: 30px 10px;
        left: 1%;
    }
}

@media screen and (min-width: 640px) and  (max-width: 1023px) {
    .main_gnb>li>a {
        display: none;
    }

    .lang {
        display: none;
    }

    .logo img {
        width: 160px;
        height: 45px;
    }

    .bar i {
        display: none;
    }

    .bar i::after {
        display: none;
    }

    .bar .pg_next::after {
        content: url(../images/bar_ang.png);
        position: absolute;
        transform: rotate(-90deg);
        top: 36px;
        left: 10px;
    }

    .bar .pg_next {
        position: fixed;
        bottom: 50px;
        right: 50px;
        display: block;
        margin: 0;
        width: 3.2rem;
        height: 3.2rem;
        background-color: #ec0928;
        border-radius: 50%;
    }


    #quick_menu {
        display: none !important;
    }

    .button_container {
        left: 30px;
    }
    
    .button_container div {
        position: relative;
        left: 100px;
    }

    .page_number {
        margin-left: 0px;
        left: -100px;
        position: relative;
    }

    .bt_mn {
        display: block;
    }

    .bt_mn i {
        background-color: #fff;
        position: absolute;
        right: 0;
        width: 38px;
        height: 4px;
        display: block;
    }

    .bt_mn i:nth-child(1) {
        top: 8px;
    }

    .bt_mn i:nth-child(2) {
        top: 19px;
        width: 30px !important;
    }

    .bt_mn i:nth-child(3) {
        top: 30px;
    }
}


/* 모바일 */
/* 메인페이지 */
@media screen and (max-width: 639px) {
    .main_gnb>li>a {
        display: none;
    }

    .lang {
        display: none;
    }

    .logo img {
        width: 80px;
        height: 20px;
    }

    .bar {
        display: none;
    }

    #quick_menu {
        display: block;
        position: fixed !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 210px !important;
        height: 50px;
        margin-left: 0;
        z-index: 9;
        left: auto !important;
    }

    .sub_nav {
        position: relative;
        bottom: 0;
        right: 0;
    }

    #quick_menu .nav2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px !important;
        height: 50px !important;
        padding: 5px 10px 0 10px !important;
        font-size: 10px !important;
    }

    #quick_menu .nav1 {
        position: absolute;
        width: 70px !important;
        height: 50px !important;
        left: auto;
        right: 120px;
        padding: 5px 10px 0 10px !important;
        font-size: 10px !important;
    }

    .button_container {
        left: 30px;
    }
    
    .button_container div {
        position: relative;
        left: 100px;
    }

    .page_number {
        margin-left: 0px;
        left: -100px;
        position: relative;
    }

    .bt_mn {
        display: block;
    }

    .bt_mn i {
        background-color: #fff;
        position: absolute;
        right: 0;
        width: 22px;
        height: 2px;
        display: block;
    }

    .bt_mn i:nth-child(1) {
        top: 12px;
    }

    .bt_mn i:nth-child(2) {
        top: 19px;
        width: 16px !important;
    }

    .bt_mn i:nth-child(3) {
        top: 26px;
    }

    .slide_select a {
        font-size: 50px !important;
        display: block;
        text-align: left;
        margin-left: 30px !important;
        width: 200px;
    }

    .slide_content {
        text-align: left;
        margin-left: 30px;
        font-size: 15px;
    }



    /* 두번째 페이지 */

    #main_content {
        top: 130px !important;
        left: auto !important;
    }

    .stat_number {
        font-weight: 700;
    }

    .content {
        float: none !important;
        width: auto !important;
        text-align: left !important;
        overflow: hidden;
        padding: 30px 50px;
    }

    .content div {
        float: left;
        width: 100px;
        text-align: center;
    }

    .content .stat_number {
        font-size: 50px;
    }

    .cont_text {
        width: 300px !important;
        text-align: left !important;
        margin-left: 30px;
    }
 
    .cont::before {
        content: ' ';
        position: absolute;
        width: 500px !important;
        height: 1px !important;
        background-color: #fff !important;
        right: auto !important;
        bottom: 0px !important;
        left: 50px;
    }


    /* 세번째 페이지 */

    .main03_content {
        width: 100%;
        top: 15% !important;
        left: auto !important;
        text-align: center;
    }

    .main03_content h3 {
        font-size: 35px !important;
        padding-bottom: 0 !important;
    }

    .main03_content p {
        font-size: 12px !important;
        line-height: 30px;
    }

    .swiper2 {
        left: auto !important;
        top: 35% !important;
    }

    .swiper2 .swiper-slide {
        width: 383px !important;
    }

    /* 네번째 페이지 */

    .swiper3 h1 {
        font-size: 30px !important; 
    }

    .swiper3 {
        top: 30% !important;
        left: auto !important;
        margin-left: 20px !important;
    }
}




