@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Montserrat', 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }



/* 헤더 */
.sub_gnb {
    display: none;
}

#main_header {
    position: fixed;
    z-index: 9;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

#main_header .logo {
    float: left;
    position: relative;
    padding: 30px 40px;
    left: 20px;
}

#main_header .lang {
    float: right;
    position: relative;
    padding: 10px 10px;
    top: 30px;
    right: 60px;
}

.lang li {
    padding: 0 5px;
}

.lang .langs {
    font-weight: 100;
}

.lang .none {
    opacity: 0;
}

.lang li {
    display: inline-block;
}

#main_nav {
    position: relative;
    float: left;
    left: 200px;
}

.gnb {
    display: inline-block;
    padding: 30px 30px;
    font-size: 20px;
}

.gnb a {
    color: white;
}

.lang a {
    color: white;
}




/* 언어선택 애니메이션 */

.lang_kr::after {
    content: ' ';
    position: absolute;
    display: block;
    background: url(../images/blt_select.png);
    right: -30px;
    top: 20px;
    width: 10px;
    height: 7px;
}

.lang_kr::before {
    content: ' ';
    position: absolute;
    display: block;
    background-color: white;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 40px;
    opacity: 0;
}

.lang_kr:hover::before {
    opacity: 1;
}


