@charset "UTF-8";



/* sub_nav */

#quick_menu {
    position: fixed;
    display: block;
    overflow: hidden;
    z-index: 9;
    bottom: 0px;
    left: 50%;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

#quick_menu .sub_nav {
    position: fixed;
    margin-left: -600px;
    left: 50%;
    display: block;
    float: left;
    padding: 25px 40px 0;
    font-size: 18px;
    font-weight: bold;
}


#quick_menu .nav1 {
    width: 110px;
    height: 75px;
    background: #fff;
    bottom: 0;
    color: red;
}

#quick_menu .nav1::after {
    content: ''; 
    display: block;
    position: absolute;
    width: 29px; 
    height: 14px; 
    right: 80px; 
    bottom: 40px; 
    background: url(../images/ic_aw.png); 
    opacity: 0;
}

#quick_menu .nav2::after {
    content: ''; 
    display: block;
    position: absolute;
    width: 29px; 
    height: 14px; 
    right: 80px; 
    bottom: 40px; 
    background: url(../images/ic_aw1.png); 
    opacity: 0;
}

#quick_menu .nav2 {
    left: 61.8%;
    height: 100px;
    width: 170px;
    height: 75px;
    background-color: #ec0928;
    color: #fff;
    bottom: 0;
}

.nav1 p {
    color: black;
}

.sub_nav p {
    font-size: 13px;
    font-weight: 100;
}


#quick_menu .nav1:hover {
    height: 130px;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

#quick_menu .nav2:hover {
    height: 130px;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

#quick_menu .nav1:hover::after {
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    left: 40px;
}

#quick_menu .nav2:hover::after {
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    right: 40px;
}



/* bar */
.bar {
    position: fixed;
    right: 40px;
    width: 10px;
    height: 200px;
    bottom: 36%;
    z-index: 9;
}

.bar i {
    position: relative;
}

.bar i::after {
    content: ' ';
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 180px;
}

.pg_next {
    position: fixed;
    bottom: 38%;
}

.pg_prev {
    position: fixed;
    bottom: 63%;
}

.bar span {
    display: none;
}

.pg_next::after {
    content: url(../images/bar.png);
    position: absolute;
    top: 0;
    left: -3px;
    width: 3px;
    height: 3px;
    display: block;
}

.pg_prev::after {
    content: url(../images/bar.png);
    position: absolute;
    width: 3px;
    height: 3px;
    display: none;
    transform: rotate(180deg);
}


/* 첫번째 페이지 */
.section00 {
    position: relative;
}

.main01_content {
    z-index: 99;
    display: block;
    width: 100%;
    top: 35%;
    position: fixed;
    text-align: center;
}

.slide_select {
    overflow: hidden;
    position: relative;
}

.slide_content {
    margin-top: 20px;
    color: white;
}

.slide_content strong {
    color: red;
}

.slide_select a {
    font-size: 90px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    position: relative;
    z-index: 9;
}

.button.active {
    color: rgba(255, 255, 255, 1);
}


.slide_select .slide_button1::before {
    content: " ";
    display: block;
    width: 0;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    transition: all 0.9s;
    left: 0;
    z-index: -1;
}



.slide_select .slide_button2::before {
    content: " ";
    display: block;
    width: 0;
    height: 25px;
    background-color: rgba(255, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    transition: all 0.9s;
    left: 0;
    z-index: -1;

}


.slide_select .slide_button3::before {
    content: " ";
    display: block;
    width: 0;
    height: 25px;
    background-color: rgba(0, 0, 255, 0.8);
    position: absolute;
    bottom: 0;
    transition: all 0.9s;
    left: 0;
    z-index: -1;

}

.slide_select .button.active::before {
    display: block;
    width: 100%;
}

.slide_select a:not(:first-child) {
    margin-left: 15px;
}

.button_container {
    z-index: 9;
    position: absolute;
    bottom: 30px;
    right: 180px;
    overflow: hidden;
}

.slide_page {
    margin-left: 20px;
    float: left;
}

.page_number {
    float: left;
    display: block;
    margin-left: 50px;
    color: white;
}



.slide_index .slide1 {
    background-image: url(../images/main_visual01.jpg);
    background-size: cover;
    background-position: center;
}

.slide_index .slide2 {
    background-image: url(../images/main_visual02.jpg);
    background-size: cover;
    background-position: center;
}

.slide_index .slide3 {
    background-image: url(../images/main_visual03.jpg);
    background-size: cover;
    background-position: center;
}

.slide_index .slide4 {
    background-image: url(../images/main_visual04.jpg);
    background-size: cover;
    background-position: center;
}


/* 두번째 페이지 */
.section01 {
    background-image: url(../images/main_section02.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
}

#main_content {
    position: absolute;
    width: 1140px;
    overflow: hidden;
    top: 40%;
    left: 12%;
}

.content {
    position: relative;
    float: left;
    width: 33.3%;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', 'Noto Sans KR';
}

.cont::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 80px;
    background-color: gray;
    right: 0;
    bottom: 100px;
}

.stat_number {
    font-size: 100px;
}

.cont_text {
    margin-top: 30px;
}

.cont_text :first-child {
    font-size: 20px;
}

.cont_text :last-child {
    font-size: 10px;
}

/* 세번째 페이지 */
.section02 {
    background-image: url(../images/main_section03.jpg);
    background-size: cover;
    background-position: center;
}

.swiper2 {
    position: relative;
    top: 23%;
    left: 820px;
}

.swiper2 .swiper-wrapper {
    position: relative;
    height: 500px;
}

.swiper2 img {
    width: 360px;
    height: 250px;
}

.swiper2 .text {
    position: absolute;
    color: white;
    width: 360px;
    padding-bottom: 30px;
    border-bottom: 3px solid white;
    
}

.text strong {
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
    display: block;
}

.text span {
    font-size: 14px;
}

.main03_content {
    position: absolute;
    top: 24%;
    left: 18%;
}

.main03_content h3 {
    font-size: 57px;
    color: white;
    padding-bottom: 30px;
}

.main03_content p {
    font-size: 15px;
    color: white;
}

/* 네번째 페이지 */
.section03 {
    background-image: url(../images/main_section04.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.swiper3 {
    position: absolute;
    top: 43%;
    left: 51%;
}


.swiper3 h1 {
    font-size: 50px;
    color: white;
    display: block;
    margin-bottom: 30px;
}

.swiper3 p {
    color: white;
}

.slide_nav {
    margin-top: 150px;
    margin-left: -5px;
}

.slide_nav li {
    display: inline-block;
    padding: 20px 40px;
    position: relative;
}


.slide_nav a {
    color: white;
    font-weight: 100;
    position: relative;
    font-size: 13px;
    padding: 10px 10px;
    width: 200px;
}

.slide_nav .button3.active::after {
    content: url(../images/aw_next_w.png);
    position: absolute;
    right: -35px;
    bottom: 8px;
    opacity: 1;
    transition: all 0.9s;
}



.slide_nav li:not(:first-child){
    margin-left: 20px;
}

.slide_nav .slide3_button1::before {
    content:url(../images/main04_ic01.png);
    position: absolute;
    left: -30px;
}
.slide_nav .slide3_button2::before {
    content: url(../images/main04_ic02.png);
    position: absolute;
    left: -30px;
}
.slide_nav .slide3_button3::before {
    content: url(../images/main04_ic03.png);
    position: absolute;
    left: -30px;
}

.slide_nav li::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 3px;
}


.slide_nav .page3_button.active::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 3px;
}

/* 푸터 */
/* 반응형 */

@media screen and (max-width: 1200px) {
    #main_header .logo {
        float: left;
        position: relative;
        padding: 30px 10px;
        left: 1%;
    }
}

@media screen and (min-width: 768px) and  (max-width: 1024px) {
    
}

@media screen and (min-width: 425px) and  (max-width: 767px) {

}

